{% extends "base.html.twig" %}

{% block body %}

    <body>

        {# <div class="flex h-screen items-center"> #}

        <div class="flex flex-col items-center gap-8 mt-24">
        
            <div class="navbrand text-6xl">
                <a href={{ path('app_home_index') }}>My Bag</a>
            </div>
        
            <div class="w-1/4">
                {% block content %}{% endblock %}
            </div>

            </div>

        </div>
       
        <!-- BEGIN: JS Assets-->
        {# <script src="{{ asset('js/app.js') }}"></script> #}
        <!-- END: JS Assets-->

    </body>

{% endblock %}