{% extends "base.html.twig" %}

{% block body %}

    <body>

        {# <div class="flex h-screen items-center"> #}

        <div class="flex items-center w-full h-screen border bg-white">
        
            <div class="flex-1 my-hidden lg:flex text-center flex-col">

                {# <a href="{{ path('app_homepage') }}" class="absolute left-0 top-0 p-5 flex items-center">
                    <svg fill="#000000" class="w-8 h-8" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512.006 512.006" xml:space="preserve"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <g> <path d="M388.419,475.59L168.834,256.005L388.418,36.421c8.341-8.341,8.341-21.824,0-30.165s-21.824-8.341-30.165,0 L123.586,240.923c-8.341,8.341-8.341,21.824,0,30.165l234.667,234.667c4.16,4.16,9.621,6.251,15.083,6.251 c5.461,0,10.923-2.091,15.083-6.251C396.76,497.414,396.76,483.931,388.419,475.59z"></path> </g> </g> </g></svg>
                
                </a> #}

                {# <img alt="Image couple" class="mx-auto lg:w-3/4 xl:w-1/2" src="{{ asset('/images/illustration_login.jpg') }}"> #}
                
                {# <div class="m-auto">{{ include('partials/logo.html.twig', {color : 'white'}) }}</div> #}

                {# <div class="mt-5 text-2xl">
                    Manage your meals and balance your life
                </div> #}

            </div>
        
            <div class="flex flex-col border-l border-gray-200 w-full lg:w-1/2 justify-center">
                
                <div class="w-3/5 mx-auto">
                
                    {% block content %}{% endblock %}

                </div>

            </div>

        </div>
       
        <!-- BEGIN: JS Assets-->
        {# <script src="{{ asset('js/app.js') }}"></script> #}
        <!-- END: JS Assets-->

    </body>

{% endblock %}